* {
  margin: 0;
  padding: 0; }

h1 {
  color: goldenrod; }

h3 {
  color: goldenrod;
  text-align: center; }

p {
  color: white; }

h5 {
  color: whitesmoke; }

h4 {
  color: burlywood; }

footer {
  font-size: 1rem; }

.font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.navegacioninc {
  width: 1000px;
  margin: 5px auto;
  margin-left: 125px;
  margin-right: 50px;
  margin-top: 1px;
  background-color: goldenrod;
  text-align: center;
  word-spacing: 20px;
  z-index: 1000; }
  .navegacioninc__a {
    color: black; }

.menu > li {
  position: relative;
  display: inline-block; }

.menu > li > a {
  display: block;
  padding: 15px 100px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
  width: 150px; }

.menu li a:hover {
  color: #d8d8d5;
  transition: all .3s; }

.flex-container {
  display: flex;
  background-color: goldenrod;
  border-style: dashed; }

#img {
  position: absolut;
  width: 400px 300px;
  left: 0;
  top: 0; }

.texto {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  right: -50%;
  top: -340px;
  width: 500px; }

.card__link {
  margin: 10px;
  padding: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  color: white; }

.inicio {
  background-color: black; }

@media (max-width: 890px) {
  #img {
    width: 100%;
    /*pmax-width: 300px;
        margin-left: 20px; */ }
  .texto {
    display: block;
    font-size: 1.3rem;
    top: 3px;
    right: -5%; }
  .card__link {
    font-size: 9px; } }

.contactittle {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.contacbody {
  background: linear-gradient(to top right, black, #3f0d0d, #681754, #F7D358, goldenrod); }

.contacto {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.215);
  padding: 40px 70px;
  box-sizing: border-box;
  margin-top: 50px;
  border-radius: 20px; }

h2 {
  color: goldenrod;
  text-align: center;
  margin: 0px;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

p {
  color: whitesmoke;
  text-align: center;
  margin: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 6px;
  font-family: monospace; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#boton {
  background: rgba(252, 182, 6, 0.094);
  color: white;
  padding: 20px; }

#boton:hover {
  cursor: pointer; }

@media (max-width: 500px) {
  .contacto {
    width: 100%; } }
