@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

h1 {
  color: goldenrod; }

h3 {
  color: goldenrod;
  text-align: center; }

p {
  color: white; }

h5 {
  color: whitesmoke; }

h4 {
  color: burlywood; }

footer {
  font-size: 1rem; }

.font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif; }

h4 {
  font-family: 'Times New Roman', Times, serif; }

.navegacion .navegacioninc {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.menu {
  font-family: Georgia, 'Times New Roman', Times, serif; }

.submenu {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.bodys {
  background: rgba(0, 0, 0, 0.89); }

.disptext, .menu > li > a, .submenu li a {
  display: block;
  padding: 15px; }

.navegacioninc {
  width: 100%;
  margin: 5px auto;
  margin-top: 1px;
  background-color: goldenrod;
  text-align: center;
  word-spacing: 20px;
  z-index: 1000;
  position: fixed; }
  .navegacioninc__a {
    color: black; }

.menu > li {
  display: inline-block; }

.menu > li > a {
  font-size: 1.3rem;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  width: 150px; }

.menu li a:hover {
  color: #c9c9c7;
  transition: all .3s; }

.flex-container {
  display: flex;
  background-color: goldenrod;
  border-style: dashed; }

.navegacion a {
  color: black; }

.navbarr {
  right: 37%; }

.navegacion {
  width: auto;
  height: auto;
  border-radius: 45px;
  background: linear-gradient(to top right, black, #3f0d0d, #681754, #F7D358, goldenrod);
  z-index: 1000; }
  .navegacion_ul {
    list-style: none; }

.navegacion {
  text-align: center;
  word-spacing: 20px; }

.submenu {
  position: absolute;
  width: 130px;
  opacity: 0;
  transition: "opacity 1.5s";
  z-index: 1000; }

.submenu li a {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
  text-decoration: none; }

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1; }

#img {
  position: absolut;
  width: 400px 300px;
  left: 0;
  top: 0; }

.texto {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  right: -50%;
  top: -340px;
  width: 500px; }

.card__link {
  margin: 10px;
  padding: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  color: white; }

.inicio {
  background-color: black; }

.card__link {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

@media (max-width: 890px) {
  #img {
    width: 100%;
    /*pmax-width: 300px;
        margin-left: 20px; */ }
  .texto {
    display: block;
    font-size: 1.3rem;
    top: 3px;
    right: -5%; }
  .card__link {
    font-size: 9px; } }

.contactittle {
  text-shadow: -1px 0 black, 0 1px black,
 1px 0 black, 0 -1px black; }

.contacbody {
  background: linear-gradient(to top right, black, #3f0d0d, #681754, #F7D358, goldenrod); }

.contacto {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.215);
  padding: 40px 70px;
  box-sizing: border-box;
  margin-top: 50px;
  border-radius: 20px; }

h2 {
  color: goldenrod;
  text-align: center;
  margin: 0px;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

p {
  color: whitesmoke;
  text-align: center;
  margin: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

input,
textarea {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: monospace; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#boton {
  background: rgba(252, 182, 6, 0.094);
  color: white;
  padding: 20px; }

#boton:hover {
  cursor: pointer; }

@media (max-width: 400px) {
  .contacto {
    width: 100%; } }

/*portadas animaciones*/
.contenedor-imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 3px;
  margin-top: 40px; }

.contenedor-imagenes .portadas {
  width: 250px;
  position: relative;
  height: 350px;
  margin-bottom: 29px;
  margin-left: 35px; }

.portadas img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  object-fit: cover;
  position: relative; }

.overlay {
  width: 100%;
  height: 0;
  border-radius: 11px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(6, 5, 5, 0.731);
  transition: .4s ease;
  overflow: hidden; }
  .overlay strong {
    color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    position: relative;
    padding: 3px;
    top: 3%;
    left: 5%;
    text-align: center;
    transform: translate(-50%, -50%); }

.overlay h2 {
  color: #ffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  position: absolute;
  top: 26%;
  left: auto;
  text-align: center; }

.overlay h4 {
  color: #ffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
  position: absolute;
  top: 60%;
  left: 10%;
  text-align: center; }

.overlay h5 {
  color: #ffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 11px;
  position: absolute;
  top: 66%;
  left: 5%;
  text-align: left; }

.overlay h6 {
  color: goldenrod;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  position: absolute;
  top: 90%;
  left: 10%;
  text-align: center; }

.portadas:hover .overlay {
  height: 100%;
  cursor: pointer; }

.contenedor-imagenes .portadas:hover {
  transform: scale(1.15); }

@media (max-width: 800px) {
  h3 {
    font-size: calc(1em + 1vw);
    text-align: center;
    margin-top: 7px; }
  html body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; }
  .texto {
    display: block;
    font-size: 1.3rem;
    top: 3px;
    right: -5%;
    width: 80%; }
  .contacto {
    width: 100%; }
  .navbarr {
    right: auto; }
  .navegacion {
    width: auto;
    margin: 45px auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1px;
    background: linear-gradient(to top right, black, #3f0d0d, #681754, #F7D358, goldenrod);
    z-index: 1000;
    border-radius: 5px; }
  .menu > li > a {
    padding: 15px 100px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    width: 150px;
    right: -5%; }
  #img {
    width: 100%; }
  .texto {
    right: -5%; }
  .ing-bottom {
    width: 100%; }
  .card__link {
    font-size: 9px; } }

.footer_p {
  color: #ffff;
  padding: 10px;
  height: auto;
  background-color: rgba(218, 165, 32, 0.235); }

.icon-facebook {
  color: #ffff;
  font-size: 30px;
  transition: all .3s; }
  .icon-facebook:hover {
    color: #0000ff; }

.icon-correo {
  color: #ffff;
  font-size: 30px;
  transition: all .3s; }
  .icon-correo:hover {
    color: #B40404; }

footer p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  position: relative;
  text-align: center; }

.año {
  text-align: center;
  position: relative;
  font-size: 20px;
  color: goldenrod;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
