.contactittle {
    text-shadow: -1px 0 black, 0 1px black,
        1px 0 black, 0 -1px black;

}

.contacbody {
    background: $navbarcolor;
}

.contacto {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.215);
    padding: 40px 70px;
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 20px;
}

h2 {
    color: $primary;
    text-align: center;
    margin: 0px;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: whitesmoke;
    text-align: center;
    margin: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input,
textarea {
    @include funcional ( 100%, auto, 6px );
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: monospace;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: rgba(252, 182, 6, 0.094);
    color: white;
    padding: 20px;

    
}

#boton:hover {
    cursor: pointer;
}

@media (max-width:400px) {
    .contacto {
        width: 100%;
    }
}