* {
    margin: 0;
    padding: 0;
}
h1 {
    color: $primary;
}

h3 {
    color: $primary;
    text-align: center;
}

p {
    color: white;
}

h5 {
    color: whitesmoke;
}

h4 {
    color: burlywood;
}
footer {
    font-size: 1rem;
}
.font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
