.navegacioninc {
    width: 1000px;
    margin: 5px auto;
    margin-left: 125px;
    margin-right: 50px;
    margin-top: 1px;
    background-color: $primary;
    text-align: center;
    word-spacing: 20px;
    z-index: 1000;

    &__a {
        color: black;
    }

}

.menu>li {
    position: relative;
    display: inline-block;
    
}
 
.menu > li > a {
    display: block;
    padding: 15px 100px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    width: 150px;

}
.menu li a:hover {
    color: rgb(216, 216, 213);
    transition: all .3s;
 }



.flex-container {
    display: flex;
    background-color: $primary;
    border-style: dashed;
}