.navegacioninc {
    width: 1000px;
    margin: 5px auto;
    margin-left: 125px;
    margin-right: 50px;
    margin-top: 1px;
    background-color: $primary;
    text-align: center;
    word-spacing: 20px;
    z-index: 1000;
    position: fixed;

    &__a {
        color: black;
    }

}

.menu > li {
    
    display: inline-block;
    
}
 
.menu > li > a {
    @extend .disptext;
    font-size: 1.3rem;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    width: 150px;

}
.menu li a:hover {
    color: rgb(201, 201, 199);
    transition: all .3s;
 }


.flex-container {
    display: flex;
    background-color: $primary;
    border-style: dashed;
}


.navegacion a {
    color: black;
}

.navbarr {
    right: 37%;
}

.navegacion {
    @include funcional (auto, auto, 45px );
    background: $navbarcolor;
    z-index: 1000;
   
    &_ul {
        list-style: none;
    }
}


.navegacion {
    text-align: center;
    word-spacing: 20px;
}

.submenu {
    position: absolute;
    background-color: rgba(218, 165, 32, 0.664);
    width: 130px;
    opacity: 0;
    transition: "opacity 1.5s";
    z-index: 1000;
}

.submenu li a {
    @extend .disptext;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    text-decoration: none;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}
